<footer>
	<div class="container">
		<div class="row py-5">

			<div class="col-lg-3 col-md-4 d-flex align-content-center flex-column justify-content-center border-right">
				<a href="" class="mb-4 d-block mx-auto"><img src="../../assets/img/footer/logo-footer.png" alt=""></a>
				<ul class="list-unstyled three-column mt-4">
					<li class="text-center">Home</li>
					<li class="text-center">Services</li>
					<li class="text-center">About</li>
					<li class="text-center">Code</li>
					<li class="text-center">Design</li>
					<li class="text-center">Host</li>
					<li class="text-center">Contact</li>
					<li class="text-center">Company</li>
				</ul>

			</div>

			<div class="col-lg-6 col-md-6 d-flex align-content-center flex-column justify-content-center">
				<h3 class="text-center text-light mt-2">NEWSLETTER</h3>
				<input type="text" name="" id="input"
					class="form-control text-center border-0 w-75 mx-auto mt-4 rounded-0"
					placeholder="Enter your email..." value="" required="required">
				<button type="button" class="btn btn-custom w-25 mx-auto mt-4">SUBSCRIBE</button>
			</div>

			<div class="col-lg-3 border-left text-center">
				<h5 class="text-light text-uppercase mb-4">Store Information</h5>
				<p>Store Name : dadadadadd </p>
				<p>Phone : 1232464546</p>
				<p>Email Us : </p>
				<p>Address : </p>
			</div>

		</div>
	</div>
	<div class="sub-footer ">
		<div class="container d-flex justify-content-between">
			<p class="my-auto">Copyright &copy; 2020 <span>Your Template Name</span></p>
			<ul class="list-unstyled socila-list">
				<li><a class="pr-2" href=""><img src="../../assets/img/footer/visa.png" alt="" /></a></li>
				<li><a class="pr-2" href=""><img src="../../assets/img/footer/mastercard.png" alt="" /></a></li>
				<li><a class="pr-2" href=""><img src="../../assets/img/footer/paypal.png" alt="" /></a></li>
			</ul>
		</div>
	</div>
</footer>
