<div class="home">

	<!--slider-->
	<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active" data-interval="10000">
				<img src="../../../assets/img/home/slider/3.jpg" class="d-block w-100" alt="...">
				<div class="d-none d-md-block carousel-custom">
					<h4 class="text-capitalize mb-2">welcome to fashion</h4>
					<h1 class="text-uppercase mb-3">Men fashion</h1>
					<a href="" class="btn btn-custom">SHOP NOW</a>
				</div>
			</div>
			<div class="carousel-item" data-interval="10000">
				<img src="../../../assets/img/home/slider/4.jpg" class="d-block w-100" alt="...">
				<div class="d-none d-md-block carousel-custom">
					<h4 class="text-capitalize mb-2">welcome to fashion</h4>
					<h1 class="text-uppercase mb-3">Women fashion</h1>
					<a href="" class="btn btn-custom">SHOP NOW</a>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
			<i class="fa fa-angle-left" aria-hidden="true"></i>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
			<i class="fa fa-angle-right" aria-hidden="true"></i>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<!--/slider-->

	<!--collection-->
	<section class="py-4">
		<div class="container-fluid overflow-hidden">
			<div class="row">
				<div class="col-6">
					<a href="">
						<div class="text-left">
							<img class="collection-banner" src="../../../assets/img/home/collection/3.jpg" alt="">
							<div class="contain-banner">
								<div>
									<h4>Save 30%</h4>
									<h2>Women</h2>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-6">
					<a href="">
						<div class="text-left">
							<img class="collection-banner" src="../../../assets/img/home/collection/4.jpg" alt="">
							<div class="contain-banner">
								<div>
									<h4>Save 30%</h4>
									<h2>watch</h2>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="row partition-2 mt-lg-4">
				<div class="col-6">
					<a href="">
						<div class="text-left">
							<img class="collection-banner" src="../../../assets/img/home/collection/5.jpg" alt="">
							<div class="contain-banner">
								<div>
									<h4>Save 30%</h4>
									<h2>sandle</h2>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-6">
					<a href="">
						<div class="text-left">
							<img class="collection-banner" src="../../../assets/img/home/collection/6.jpg" alt="">
							<div class="contain-banner">
								<div>
									<h4>Save 30%</h4>
									<h2>kids</h2>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!--/section-->

	<!--title-->
	<div class="title text-center">
		<h4>Exclusive Products</h4>
		<h2 class="title-inner text-uppercase font-weight-bold mb-4">
			special products
		</h2>
	</div>
	<!--special products-->
	<section>
		<div class="container">
			<div class="row">
				<div class="col">
					<mat-tab-group class="mx-auto w-100" mat-align-tabs="center">
						<mat-tab label="NEW PRODUCTS">
							<div class="tab-content">
								<div class="row m-0">
									<!--product-->
									<div class="product-box position-relative" *ngFor="let item of product">
										<div class="lable-block">
											<span class="label3">New</span>
											<span class="label4">on sale</span>
										</div>
										<div class="font">
											<a href="">

												<span *ngFor="let image of item.images">
													<img class="w-100" src="{{ image.url }}" alt="">
												</span>
											</a>
											<div>{{ item.name }}</div>
										</div>

										<!---->
										<ul class="product-thumb-list">
											<li>
												<a href=""><img src="../../../assets/img/home/products/25.jpg"
														alt=""></a>
											</li>
											<li>
												<a href=""><img src="../../../assets/img/home/products/6.jpg"
														alt=""></a>
											</li>
											<li>
												<a href=""><img src="../../../assets/img/home/products/39.jpg"
														alt=""></a>
											</li>
										</ul>
										<!---->
										<div class="cart-info">
											<a href="">
												<i class="ti-shopping-cart" title="Add to cart"></i>
											</a>
											<a href="">
												<i class="ti-heart" title="Add to Wishlist"></i>
											</a>
											<a href="">
												<i class="ti-search" title="Quick View"></i>
											</a>
											<a href="">
												<i class="ti-reload" title="Compare"></i>
											</a>
										</div>
									</div>
									<!---->


									<!-- <ul class="list-group">
										<li class="list-group-item" *ngFor="let item of product">
											{{ item.name }}
											<span *ngFor="let images of item.images">
												<img src="{{ images.url }}" alt="">
											</span>
										</li>
									</ul> -->

								</div>

							</div>
						</mat-tab>
						<mat-tab label="BEST SELLERS">
							<div class="tab-content">
								<div class="row m-0">
									<!--product-->
									<div class="product-box position-relative" *ngFor="let item of product">
										<div class="lable-block">
											<span class="label3">New</span>
											<span class="label4">on sale</span>
										</div>
										<div class="font">
											<a href="">

												<span *ngFor="let image of item.images">
													<img class="w-100" src="{{ image.url }}" alt="">
												</span>
											</a>
											<div>{{ item.name }}</div>
										</div>

										<!---->
										<ul class="product-thumb-list">
											<li>
												<a href=""><img src="../../../assets/img/home/products/25.jpg"
														alt=""></a>
											</li>
											<li>
												<a href=""><img src="../../../assets/img/home/products/6.jpg"
														alt=""></a>
											</li>
											<li>
												<a href=""><img src="../../../assets/img/home/products/39.jpg"
														alt=""></a>
											</li>
										</ul>
										<!---->
										<div class="cart-info">
											<a href="">
												<i class="ti-shopping-cart" title="Add to cart"></i>
											</a>
											<a href="">
												<i class="ti-heart" title="Add to Wishlist"></i>
											</a>
											<a href="">
												<i class="ti-search" title="Quick View"></i>
											</a>
											<a href="">
												<i class="ti-reload" title="Compare"></i>
											</a>
										</div>
									</div>
									<!---->


									<!-- <ul class="list-group">
										<li class="list-group-item" *ngFor="let item of product">
											{{ item.name }}
											<span *ngFor="let images of item.images">
												<img src="{{ images.url }}" alt="">
											</span>
										</li>
									</ul> -->

								</div>

							</div>
						</mat-tab>
						<mat-tab label="FEATURED PRODUCTS"> FEATURED PRODUCTS </mat-tab>
						<mat-tab label="ON SALE"> ON SALE </mat-tab>
					</mat-tab-group>
				</div>
			</div>
		</div>
	</section>
</div>
